body {
    font-family: Arial, sans-serif;
    background-color: #bababa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}

/* Fila 1: logo + título */
.fila1 {
    background-color: #e0e0e0;
    gap: 15px;
}

.fila1 img.logo {
    width: 150px;
    height: auto;
}

.fila1 h1 {
    margin: 25px;
    font-size: 2.5rem;
}

/* Fila 2: calendario + flechas + Bienvenidos */
.fila2 {
    gap: 40px;
}

.fila2 input {
    padding: 5px;
    font-size: 16px;
}

.nav-buttons button {
    font-size: 10px;        /* Aumenta el tamaño para que se vean bien */
    padding: 12px 30px;     /* Espaciado consistente */
    min-width: 50px;        /* Ancho mínimo para igualar botones */
    font-family: Arial, sans-serif;
}

.fila3 {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 0rem;
}

.bienvenidos {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 5rem; /* Esto mantiene el ancho estable */
    text-align: center;
}

.fila4 {
    flex-direction: column;
    padding: 20px;
}

#image-container img {
    max-width: 80%;
    height: auto;
}
